.whatsapp-float {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
    width: 70px;
    height: 70px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  }
  
  .whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .whatsapp-icon {
    width: 45px;
    height: 45px;
  }
  html {
    scroll-behavior: smooth;
  }
  
  
  